# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

# CMake files

**/cmake-build-debug
**/CMakeCache.txt
**/cmake_install.cmake
**/install_manifest.txt
**/CMakeFiles/
**/CTestTestfile.cmake
**/Makefile
**/*.cbp
**/CMakeScripts
**/compile_commands.json

include/divisible/*


## Local

.idea/*.xml

build/**/*

include/*
lib/*
bin/*
test/test_runner
cmake-build-debug/re
cmake-build-debug/build.ninja
cmake-build-debug/Testing/Temporary/LastTest.log
*.o
cmake-build-debug/.ninja_log
cmake-build-debug/.ninja_deps
cmake-build-debug/.cmake/api/v1/reply/target-re-Debug-102916b15abfbd9714ad.json
cmake-build-debug/.cmake/api/v1/reply/index-2022-09-24T04-20-26-0782.json
cmake-build-debug/.cmake/api/v1/reply/codemodel-v2-5d2a15425371cb97e808.json
